<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/pink.css">
    <title>FCI Test Tool</title>
</head>
<body>
    <h1>FCI Test Tool</h1>
    <div class="center">
        <form>
            <div>
                <p>please input test parameters</p>
                <table>
                    <tr>
                        <td>client number : </th>
                        <td><input id="c_number" value="client number"></th>
                    </tr>
                    <tr>
                        <td>retry times : </th>
                        <td><input id="r_tiems" value="retry times"></th>
                    </tr>                 
                </table>      
            </div>
            <div>
                <p>please select mock servers</p>
                <input type="checkbox" id="mocker_server1" value="">server1
                <input type="checkbox" id="mocker_server2" value="">server2
                <input type="checkbox" id="mocker_server2" value="">server3
            </div>
            <br>
            <br>
            <button>Trigger</button>
        </form>
    </div>
    <div>
        <img src="">
    </div>
</body>
</html>